html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td{background:transparent;border:0;margin:0;padding:0;vertical-align:baseline}
body,input,textarea,.page-title span,.pingback a.url{font:15px arial,sans-serif}
body{line-height:1;background:none repeat scroll 0 0 #f1f1f1}
body,input,textarea{color:#666;font-size:12px;line-height:18px}
h1,h2,h3,h4,h5,h6{clear:both;font-weight:400}
ul{list-style:square outside none;margin:0 0 18px 1.5em}
ol,ul{list-style:none outside none}
ul ul,ol ol,ul ol,ol ul{margin-bottom:0}
a:link{color:#06c;text-decoration:none}
a:visited{color:#06C;text-decoration:none}
a:active,a:hover{color:#ff4b33;text-decoration:none}
p{margin-bottom:18px}
a img{border:0}
table{border-collapse:collapse;border-spacing:0}
blockquote{word-break:break-all;quotes:none}
blockquote:before,blockquote:after{content:'';content:none}
blockquote{font-style:italic;padding:.5em 2em;font-size:14px;vertical-align:baseline}
del{text-decoration:line-through}
abbr,acronym{border-bottom:1px dotted #666;cursor:help}
pre{color:#333;background-color:#f8f8f8;overflow:auto;border:1px #CCC solid;line-height:18px;word-wrap:break-word;max-height:220px}
code{font-family:Monaco,Consolas,"Andale Mono","DejaVu Sans Mono",monospace}
input[type=text],textarea{background:none repeat scroll 0 0;border:1px solid #CCC;box-shadow:1px 1px 1px rgba(0,0,0,0.1) inset}
input[type=submit]{color:#333;font-family:"Helvetica Neue",Arial,Helvetica,"Nimbus Sans L",sans-serif}
cite,em,i{font-style:italic}
input,button,select,textarea{outline:0}
h3#comments-title,h3#reply-title,#access .menu,#access div.menu ul,#cancel-comment-reply-link,.form-allowed-tags,#site-info,#site-title,.calendartop,.calendar,.comment-meta,.comment-body tr th,.comment-body thead th,.entry-content label,.entry-content tr th,.entry-content thead th,.entry-meta,.entry-title,.entry-utility,#respond label,.navigation,.page-title,.pingback p,.reply,.widget-title{font-family:"Helvetica Neue",Arial,Helvetica,"Nimbus Sans L",sans-serif}
#wrapper{background:#f7f7f7;margin:20px auto;padding:0 20px;width:940px}
#access div.menu,#colophon,#branding,#main{margin:0 auto;width:940px}
#header{padding:20px 0 0}
#access a{color:#AAA;display:block;line-height:26px;padding:0 10px;text-decoration:none}
#access div.menu,#colophon,#branding,#main{margin:0 auto;width:940px}
#branding img{border-top:4px solid black;border-bottom:1px solid black;display:block;float:left}
#site-title{font-size:25px;line-height:36px}
#site-title a{color:#000;font-weight:600;text-decoration:none}
#site-description{clear:right;float:right;font-style:italic;margin:8px 0 15px;width:220px}
#access{background:none repeat scroll 0 0 #000;display:block;float:left;margin:0 auto;width:940px}
#access a{color:#AAA;display:block;line-height:27px;padding:0 10px;text-decoration:none}
#access div.menu{font-size:13px;margin-left:12px;width:928px}
#access div.menu ul{list-style:none outside none;margin:0}
#access div.menu li{float:left;position:relative;margin-right:4px}
#access ul li.current_page_item>a,#access ul li.current-menu-ancestor>a,#access ul li.current-menu-item>a,#access ul li.current-menu-parent>a{color:#FFF;background:#333}
#access li:hover>a,#access ul ul:hover>a{background:#333;color:#fff}
#access ul li:hover>ul{display:block}
#access ul li.current_page_item>a,#access ul li.current-menu-ancestor>a,#access ul li.current-menu-item>a,#access ul li.current-menu-parent>a{color:#fff}
* html #access ul li.current_page_item a,* html #access ul li.current-menu-ancestor a,* html #access ul li.current-menu-item a,* html #access ul li.current-menu-parent a,* html #access ul li a:hover{color:#fff}
#main{clear:both;overflow:hidden;padding:20px 0 0}
#container{float:left;margin:0 -240px 0 0;width:100%}
#content{margin:0 280px 32px 20px}
#content,#content input,#content textarea{color:#333;font-size:14px;line-height:24px}
.hentry{margin:0 0 12px}
#content .entry-title{color:#000;font-size:18px;font-weight:700;line-height:1.3em;margin-bottom:0}
#content h1,#content h2,#content h3,#content h4,#content h5,#content h6{color:#000;line-height:1.5em;margin:0 0 20px}
.entry-title a:link,.entry-title a:visited{color:#000;text-decoration:none}
.entry-meta{color:#888;font-size:12px}
.entry-content,.entry-summary{clear:both;padding:2px 0 0}
#content p,#content ul,#content ol,#content dd,#content pre,#content hr{margin-bottom:5px}
.more{text-align:right}
.entry-utility{clear:both;color:#888;font-size:12px;line-height:18px}
#nav-page{text-align:center}
.navigation{color:#888;font-size:12px;line-height:18px;overflow:hidden}
#nav-page ol li{list-style-type:none;display:inline}
#nav-page a{display:inline-block;border:1px solid #EEE;color:#000;overflow:hidden;border-image:initial}
#nav-page a,#nav-page span{padding:0 6px;margin-right:2px;height:26px;border:1px solid #DDD;color:#000;line-height:26px;overflow:hidden;border-image:initial}
.navigation a:link,.navigation a:visited{color:#888;text-decoration:none}
#primary,#secondary{float:right;overflow:hidden;width:220px}
#main .widget-area ul{margin-left:0;padding:0 20px 0 0}
.xoxo ul{margin-top:5px}
.widget-area ul{list-style:none outside none;margin-left:0}
.widget-container{margin:0 0 18px}
.widget-title{color:#222;font-weight:700;font-size:15px}
#main .widget-area ul ul{border:medium none;list-style:square outside none;margin-left:1.3em;padding:0;border-image:initial}
#footer{clear:both;width:100%}
#colophon{border-top:4px solid #000;overflow:hidden;padding:18px 0}
#site-info{font-weight:bold;float:left;width:700px}
#site-info a{color:#000;text-decoration:none}
#site-generator{float:right;min-width:310px}
.nav-previous{float:left;width:50%}
.nav-next{float:right;text-align:right;width:50%}
#content input{line-height:20px}
.top .entry-title a{color:red}
#nav-page ol li.current a{border:0;cursor:default}
.entry-content p{word-wrap:break-word;word-break:break-all}
.entry-content a img{border:2px solid #cfcfcf}
.entry-content a img:hover{border-color:#39F}
.entry-content img{max-width:550px;_width:expression(this.width>550 ? "550px":this.width);height:auto}
#main #recent-comments ul{list-style:none;margin:0}
#ds-reset ul.ds-comments{margin:0;list-style:none}
#ds-thread #ds-reset ul.ds-comments{margin-bottom:5px}
#ds-thread #ds-reset ul.ds-comments li.ds-post{padding:10px 15px;margin-top:10px;border-top:1px solid #EEE;overflow:hidden;border-image:initial}
#comments #ds-thread #ds-reset .ds-post-self{position:relative;padding:0;border:0}
#ds-thread #ds-reset .ds-avatar{box-shadow:none}
#ds-thread #ds-reset .ds-avatar img{display:block;width:32px;height:32px;box-shadow:none;-webkit-border-radius:0;border-radius:0}
#comments #ds-thread #ds-reset .ds-comment-body p{font-size:14px;line-height:24px;margin:.5em 0;word-wrap:break-word}
#comments #ds-thread #ds-reset li.ds-tab a.ds-current{border:0;background-color:rgba(0,0,0,0)}
#comments #ds-thread #ds-reset li.ds-tab a{text-shadow:none;padding:0;display:inline;-webkit-border-radius:0;border-radius:0;margin:0;font-size:18px}
#ds-thread #ds-reset .ds-comment-footer{text-align:right}
#ds-recent-comments li.ds-comment .ds-meta{font-style:italic;color:#06C}
#comments #ds-thread #ds-reset .ds-comment-footer{line-height:31px}
#comments #ds-thread #ds-reset .ds-comment-body{padding-left:45px;width:90%}
#ds-reset .ds-powered-by{display: none}
#comments #ds-thread #ds-reset ul.ds-children {margin-left: 10px;}
#comments #ds-thread #ds-reset ul.ds-children {width: 95%;}
#recent-comments #ds-recent-comments li.ds-comment{border:none}